body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cartomancy-container {
    --text-dark-color: #4c1c1c;
    --universal-padding-heavy: 2em;
    --container-max-width: 1600px;
    --space-btw-flex-elements: 3em;
    --header-height: 10vh;

    --primary-color: rgb(186, 69, 71);
    --secondary-color: #f5bd79;
}

[data-color="primary"] {
    color: var(--primary-color);
}

[data-color="secondary"] {
    color: var(--secondary-color);
}

.cartomancy-container, .cartomancy-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.cartomancy-container {
    font-size: 18px;
    width: 100%;
    background: linear-gradient(0deg, rgba(76, 28, 28, 0.9), rgba(76, 28, 28, 0.9)), url(../../infographics/interactive-names/bg-image.webp);
    background-repeat:no-repeat;
    background-size: cover;
    border-image: url(../../infographics/interactive-names/main-border-image.svg) 90 / 90px round;
    color: white;
    position: relative;
    padding-block: 1em;
}

.cartomancy-container section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: min(90%, var(--container-max-width));
    margin-inline: auto;
    gap: var(--space-btw-flex-elements);
}

@keyframes slideHorizontal {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(1em);
    }
    100% {
        transform: translateX(0);
    }
}
