.shuffle-card-section {
    /* card ratio: 167:234 */
    --multiply-factor: 1;
    --card-width: calc(167px * var(--multiply-factor, 1));
    --card-height: calc(234px * var(--multiply-factor, 1));
    --card-border-radius: 10px;
}

.shuffle-card-section .spread-btn-container {
    display: flex;
    justify-content: center;
    gap: clamp(0.5em, 5vw, 3em);
    flex-wrap: wrap;
}

.shuffle-card-section .spread-btn-container .spread-btn {
    background-color: var(--primary-color);
    padding: 0.25em 0.5em;
    width: min(90vw, 200px);
    border-radius: 0.2em;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out,
                color 0.25s ease-in-out;
}

.shuffle-card-section .spread-btn-container .spread-btn:hover {
    background-color: white;
    color: var(--text-dark-color);
}

.shuffle-card-section .spread-btn-container .spread-btn[data-selected="true"] {
    background-color: var(--secondary-color);
    color: var(--text-dark-color);
}


.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(var(--card-height) * 1.5);
    position: relative;
}

.card {
    background-image: url(../../infographics/interactive-names/card-back.png);
    background-size: cover;
    border-radius: var(--card-border-radius);
    width: var(--card-width);
    height: var(--card-height);
    border: 1px double #ddd;
    position: absolute;
    transition: transform 0.3s ease-in-out, left 0.5s ease-in-out;
    cursor: pointer;
}

.card[data-choosen="false"] {
    transform: translateY(0);
}

.card[data-choosen="false"]:hover {
    transform: translateY(-20px);
}

.card[data-choosen="true"] {
    transform: translateY(-50px);
}